<%= render 'error', question: @question%>
 
<%= form_with(model: question, local: true) do |form| %>
  
　<!-- 質問投稿のフィールドを用意する-->

  <div class="field" id="title">
    <h6>タイトル</h6>
    <%= form.text_field :title %>
  </div>

  <div class="field" id="body">
    <h6>質問内容</h6>
    <%= form.text_field :body %>
  </div>
  
  <!--ここを追加-->
  
  <div class="field" id="checkbox">
    <% @tags.each do |t| %>
      <%= form.label t.name %>
      <%= radio_button "question", "tag_ids" ,t.id  %>
      <%= form.radio_button "tag_ids","[]", t.id %>
      <%= check_box_tag "question[tag_ids][]", t.id, @question.tags.include?(t) %>
      <br/>
    <% end %>
  </div>
  
  <!-- <% @tags.each do |tag| %>
    <%# <%= tag.radio_button "question[tag_ids][]", t.id %>
    <%# <%= tag.label "question[tag_ids][]", t.name, {value: t.id, style: "display: inline-block;"} %>  %> %>
  <% end %> -->

  <div class="actions" id="submit">
    <%= form.submit %>
  </div>
<% end %>
