<div class="container mt-5 col-10">
  <% if params[:country] && params[:country] != "" || params[:tag] && params[:tag] != "" || @words%>
    <h3>表示結果 : <%= @questions.count%> 件</h3>
    <div class="search-tag d-flex ">
      <% if params[:country] && params[:country] != ""%>
        <%if params[:q]%>
          <%= link_to questions_path(order: params[:order],mode: params[:mode],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "word" do%>
            <span><%= params[:country] %> <i class="fas fa-times"></i></span>
          <% end %>
        <% else %>
          <%= link_to questions_path(order: params[:order],mode: params[:mode],tag: params[:tag]),class: "word" do%>
            <span><%= params[:country]%> <i class="fas fa-times"></i></span>
          <% end %>
        <% end %>
      <% end %>

      <% if params[:tag] && params[:tag] != ""%>
        <%if params[:q]%>
          <%= link_to questions_path(order: params[:order],mode: params[:mode],country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]) ,class: "word" do%>
            <span><%= params[:tag]%> <i class="fas fa-times"></i></span>
          <% end %>
        <% else %>
          <%= link_to questions_path(order: params[:order],mode: params[:mode],country: params[:country]) ,class: "word" do%>
            <span><%= params[:tag]%> <i class="fas fa-times"></i></span>
          <% end %>
        <% end %>
      <% end %>

      <%if @words%>
        <% @words.each do |word| %>
          <%= link_to questions_path(order: params[:order],mode: params[:mode],country: params[:country],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": remove_same_word(@words , word) ), class: "word-q" do %>
            <span class ="mb-0"><i class="fas fa-search"></i> <%=word%> <i class="fas fa-times"></i></i></span>
          <%end%>
        <% end %>
      <%end%>
    </div>
  <% end %>
</div>
<div class="container mt-5 ">
  <div class="row justify-content-center"> 
    <div class="col-2">
      <div class="card mb-2">
        <div class="card-title text-muted mb-0">
          <p class="text-center">&lt;国で絞り込む&gt;<p>
        </div>
        <div class="card-body pt-0">
          <% @continents.each do |continent| %>
            <p><%= link_to "▶︎#{continent.name}" ,"#collapse#{continent.id}",'data-toggle': :'collapse' ,'role': :'button' ,'aria-expanded': :'false', 'aria-controls': :'collapseExample' %></p>                    
            <div class="collapse" id="collapse<%= continent.id%>">
              <% continent.countries.each do |country|%>
                <%if params[:q]%>
                  <p><%= link_to country.name , questions_path(country: country.name ,order: params[:order],mode: params[:mode],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont])%></p>
                <% else %>
                  <p><%= link_to country.name , questions_path(country: country.name ,order: params[:order],mode: params[:mode],tag: params[:tag])%></p>
                <% end %>

              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-title text-muted mb-0">
          <p class="text-center">&lt;ジャンルで絞り込む&gt;<p>
        </div>
        <div class="card-body pt-0">
          <% @tags.each do |tag| %>
            <%if params[:q]%>
              <p><%= link_to tag.name, questions_path(country: params[:country] ,order: params[:order],mode: params[:mode],tag: tag.name,"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont])%></p>
            <% else %>
              <p><%= link_to tag.name, questions_path(country: params[:country] ,order: params[:order],mode: params[:mode],tag: tag.name)%></p>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card">
        <% if params[:q] %>
          <ul class="nav nav-tabs">
            <li class="nav-item col-4 text-center">
              <%= link_to "回答受付中", questions_path(order: params[:order],mode: "index", country: params[:country] ,"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]) ,class: "nav-link h6 a_tag #{'active' if params[:mode] == 'index' || params[:mode] == ''} "%>
            </li>
            <li class="nav-item col-4 text-center ">
                <%= link_to "解決済み", questions_path(order: params[:order],mode: "resolved_questions" , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'resolved_questions'}" %>
            </li>
            <li class="nav-item col-4 text-center">
              <%= link_to "全て",questions_path(order: params[:order], mode: "all_questions" , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'all_questions'}" %>
            </li>
          </ul>
        <% else %>
          <ul class="nav nav-tabs">
            <li class="nav-item col-4 text-center">
              <%= link_to "回答受付中", questions_path(order: params[:order],mode: "index", country: params[:country] ),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'index' || params[:mode] == nil } "%>
            </li>
            
            <li class="nav-item col-4 text-center ">
                <%= link_to "解決済み", questions_path(order: params[:order],mode: "resolved_questions" , country: params[:country]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'resolved_questions'}" %>
            </li>
            <li class="nav-item col-4 text-center">
              <%= link_to "全て",questions_path(order: params[:order], mode: "all_questions" , country: params[:country]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'all_questions'}" %>
            </li>
          </ul>
        <% end %>

        
        <div class="card-body">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="nav-item dropdown text-center nav nav-tabs d-flex justify-content-between">
                <h6 class="text-muted nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <% if params[:order] == "answers_desc" %>
                  回答数の多い順
                <% elsif params[:order] == "answers_asc"%>
                  回答数の少ない順
                <% elsif params[:order] == "evaluations_desc"%>
                  参考になった順
                <% else %>
                  質問日時の新しい順
                <% end %>
                </h6>
                <ul class="dropdown-menu">
                  <% if params[:q]%>
                    <li><%=link_to "質問日時の新しい順",questions_path(order: "questions_new",mode: params[:mode], country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の多い順",questions_path(order: "answers_desc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の少ない順",questions_path(order: "answers_asc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "役に立った順",questions_path(order: "evaluations_desc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                  <% else %>
                    <li><%=link_to "質問日時の新しい順",questions_path(order: "questions_new",mode: params[:mode], country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の多い順",questions_path(order: "answers_desc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の少ない順",questions_path(order: "answers_asc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "役に立った順",questions_path(order: "evaluations_desc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                  <% end %>
                </ul>
              </div>
              <div class="list-group mb-3">
                <% @questions.each do |question|%>
                  <div class= "list-group-item list-group-item-action">
                    <div class="q-header d-flex justify-content-between mb-1">
                      <div class="header-left d-flex align-items-center">
                        <div class="user-image mr-1">
                          <%= image_tag question.user.image.url%>
                        </div>
                        <div class="user-info">
                          <p class="user-info-top mb-0">
                            <span class = "font-weight-bold name"><%= question.user.username%></span>・<span>フォロー</span>
                          </p>
                          <p class="user-info-bottom mb-0">
                            <span><%= question.tag.name %></span>|<span><%= " #{time_ago_in_words(question.created_at)}前に更新" %></span>
                          </p>
                        </div>
                      </div>
                      <div class="header-right d-flex align-items-center">
                        <span><i class="far fa-times-circle"></i></span>
                      </div>
                    </div>
                    <div class="q-body">
                      <div class="content-title">
                        <span class="font-weight-bold h6"><%= question.title%></span>
                      </div>
                      <div class="content-body">
                        <p class="mb-0"><%= question.body.truncate(200)%></p>
                        <p class="text-right mb-0">&lt;もっと見る&gt;</p>
                        
                      </div>
                    </div>
                  </div>
               
                <%
=begin%>
 <% @questions.each do |question|%>
                  <%= link_to(question, class: "list-group-item list-group-item-action",'data-toggle': :tooltip,"title": :"#{question.user.username}さんの投稿") do%>
                    <div class="q-header d-flex justify-content-between mb-1">
                      <div class="header-left d-flex align-items-center">
                        <div class="user-image mr-1">
                          <%= image_tag question.user.image.url%>
                        </div>
                        <div class="user-info">
                          <p class="user-info-top mb-0">
                            <span class = "font-weight-bold name"><%= question.user.username%></span>・<span>フォロー</span>
                          </p>
                          <p class="user-info-bottom mb-0">
                            <span><%= question.tag.name %></span>|<span><%= " #{time_ago_in_words(question.created_at)}前に更新" %></span>
                          </p>
                        </div>
                      </div>
                      <div class="header-right d-flex align-items-center">
                        <span><i class="far fa-times-circle"></i></span>
                      </div>
                    </div>
                    <div class="q-body">
                      <div class="content-title">
                        <span class="font-weight-bold h6"><%= question.title%></span>
                      </div>
                      <div class="content-body">
                        <p class="mb-0"><%= question.body.truncate(200)%></p>
                        <p class="text-right mb-0">&lt;もっと見る&gt;</p>
                        
                      </div>
                    </div> 
<%
=end%>
                    
                    <%
=begin%>
 <p class="mb-1"><%= question.tag.name %> | <%= question.country.name%></p>
                    <h5 class="list-group-item-heading"><%= question.title%></h5>
                    <p class="mb-0"><span class="indent"><i class="far fa-comment-alt icon"></i><%=question.answers.count %> <i class="fas fa-thumbs-up"></i><%= question.evaluations.count%> <i class="far fa-eye"></i><%=question.impressionist_count %> | <%="#{l(question.created_at)}"%></p></span> 
<%
=end%>
                  <%
=begin%>
 <%end%> 
<%
=end%>
                <%end%>
                <div class="mx-auto"><%= paginate @questions%></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-title text-muted mb-0">
          <div class="text-muted">
            <p class="text-center">&lt;おすすめの質問&gt;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
