<div class="container mt-5 col-7">
  <h2>gmap</h2>

  <input id="address" type="textbox" value="GeekSalon">
  <input type="button" value="Encode" onclick="codeAddress()">
  <!-- 下の1行を追加 -->
  <div id="display">何かが表示される、、、、！</div>

  <div id='map'></div>

  <style>
    #map {
      height: 600px;
      width: 600px;
    }
  </style>

  <script>
    let map
    let geocoder
    // 下の1行を追加 
    const display = document.getElementById('display')

    function initMap() {
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 40.7828,
          lng: -73.9653
        },
        zoom: 12,
      });

      marker = new google.maps.Marker({
        position: {
          lat: 40.7828,
          lng: -73.9653
        },
        map: map
      });
    }

    function codeAddress() {
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode({
        'address': inputAddress
      }, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
          // 下の1行を追加 
          display.textContent = "検索結果：" + results[0].geometry.location
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB9VF2bwI1ewTkQaltzMffsfot47xa7AA&callback=initMap" async defer></script>

  <% if params[:country] && params[:country] != "" || params[:tag] && params[:tag] != "" || @words && @words != []%>
  <div class="search-tag d-flex ">
    <h3 class="mr-1 result">キーワード : </h3>
    <%if @words%>
    <% @words.each do |word| %>
    <!-- @words.size == 1 で配列の要素が一つの時にmodeパラメータに'index'を送る-->
    <%= link_to questions_path(order: params[:order],mode: @words.size == 1 ? 'index' : params[:mode],country: params[:country],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": remove_same_word(@words , word) ), class: "word-q" do %>
    <p class="mb-0"><i class="fas fa-search"></i> <%=word%> <i class="fas fa-times"></i></p>
    <%end%>
    <% end %>
    <%end%>

    <% if params[:country] && params[:country] != ""%>
    <%if params[:q]%>
    <%= link_to questions_path(order: params[:order],mode: params[:mode],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "word" do%>
    <p class="mb-0"><i class="fas fa-globe-americas"></i> <%= params[:country] %> <i class="fas fa-times"></i></p>
    <% end %>
    <% else %>
    <%= link_to questions_path(order: params[:order],mode: params[:mode],tag: params[:tag]),class: "word" do%>
    <p class="mb-0"><i class="fas fa-globe-americas"></i> <%= params[:country]%> <i class="fas fa-times"></i></p>
    <% end %>
    <% end %>
    <% end %>

    <% if params[:tag] && params[:tag] != ""%>
    <%if params[:q]%>
    <%= link_to questions_path(order: params[:order],mode: params[:mode],country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]) ,class: "word" do%>
    <p class="mb-0"><i class="fas fa-tag"></i> <%= params[:tag]%> <i class="fas fa-times"></i></p>
    <% end %>
    <% else %>
    <%= link_to questions_path(order: params[:order],mode: params[:mode],country: params[:country]) ,class: "word" do%>
    <p class="mb-0"><i class="fas fa-tag"></i> <%= params[:tag]%> <i class="fas fa-times"></i></p>
    <% end %>
    <% end %>
    <% end %>

  </div>
  <% end %>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-2">
      <!-- TODO: スクロール画面追加-->

      <div class="card mb-2 ">
        <div class="card-title mb-0 overflow-auto">
          <p class="text-center">&lt;国で絞り込む&gt;
          <p>
        </div>
        <div class="card-body pt-0">
          <div class="continent-list">
            <% @continents.each do |continent| %>
            <p>
              <%= link_to "#collapse#{continent.id}",'data-toggle': :'collapse' ,'role': :'button' ,'aria-expanded': :'false', 'aria-controls': :'collapseExample' do%>
              <i class="fas fa-globe-americas"></i> <%=continent.name%>
              <% end %>
            </p>
            <div class="collapse" id="collapse<%= continent.id%>">
              <% continent.countries.each do |country|%>
              <%if params[:q]%>
              <p>
                <%= link_to questions_path(country: country.name ,order: params[:order],mode: params[:mode],tag: params[:tag],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont])do%>
                <i class="fas fa-genderless"></i> <%= country.name%>
                <% end%>
              </p>
              <% else %>
              <p>
                <%= link_to questions_path(country: country.name ,order: params[:order],mode: params[:mode],tag: params[:tag]) do%>
                <i class="fas fa-genderless"></i> <%= country.name%>
                <% end %>
              </p>
              <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title mb-0">
          <p class="text-center">&lt;ジャンルで絞り込む&gt;
          <p>
        </div>
        <div class="card-body pt-0">
          <% @tags.each do |tag| %>
          <%if params[:q]%>
          <p>
            <%= link_to questions_path(country: params[:country] ,order: params[:order],mode: params[:mode],tag: tag.name,"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont] ) do%>
            <i class="fas fa-tag"></i> <%= tag.name %>
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to questions_path(country: params[:country] ,order: params[:order],mode: params[:mode],tag: tag.name) do%>
            <i class="fas fa-tag"></i> <%= tag.name %>
            <% end %>
          </p>
          <% end %>

          <% end %>
        </div>
      </div>
    </div>
    <div class="col-7">
      <!-- TODO: cardを消す  -->
      <div class="card">
        <div class="select-order">
          <% if params[:q] %>
          <!-- TODO: activeをカスタマイズ -->
          <ul class="nav nav-tabs">
            <li class="nav-item col-4 text-center">
              <%= link_to "回答受付中", questions_path(order: params[:order],mode: "index", country: params[:country] ,"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]) ,class: "nav-link h6 a_tag #{'active' if params[:mode] == 'index' || params[:mode] == '' && params[:q] == "" || params[:q] == nil} "%>
            </li>
            <li class="nav-item col-4 text-center ">
              <%= link_to "解決済み", questions_path(order: params[:order],mode: "resolved_questions" , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'resolved_questions'}" %>
            </li>
            <li class="nav-item col-4 text-center">
              <%= link_to "全て",questions_path(order: params[:order], mode: "all_questions" , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'all_questions'}" %>
            </li>
          </ul>
          <% else %>
          <!--TODO: activeをカスタマイズ -->
          <ul class="nav nav-tabs">
            <li class="nav-item col-4 text-center">
              <%= link_to "回答受付中", questions_path(order: params[:order],mode: "index", country: params[:country] ),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'index' || params[:mode] == nil } "%>
            </li>

            <li class="nav-item col-4 text-center ">
              <%= link_to "解決済み", questions_path(order: params[:order],mode: "resolved_questions" , country: params[:country]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'resolved_questions'}" %>
            </li>
            <li class="nav-item col-4 text-center">
              <%= link_to "全て",questions_path(order: params[:order], mode: "all_questions" , country: params[:country]),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'all_questions'}" %>
            </li>
          </ul>
          <% end %>
        </div>

        <!-- TODO: 背景色とpaddingを上書きする-->
        <div class="question-body">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="nav-item dropdown text-center nav nav-tabs d-flex justify-content-between">
                  <h6 class="text-muted nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <% if params[:order] == "answers_desc" %>
                    回答数の多い順
                    <% elsif params[:order] == "answers_asc"%>
                    回答数の少ない順
                    <% elsif params[:order] == "evaluations_desc"%>
                    参考になった順
                    <% else %>
                    質問日時の新しい順
                    <% end %>
                  </h6>
                  <ul class="dropdown-menu">
                    <% if params[:q]%>
                    <li><%=link_to "質問日時の新しい順",questions_path(order: "questions_new",mode: params[:mode], country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の多い順",questions_path(order: "answers_desc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の少ない順",questions_path(order: "answers_asc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <li><%=link_to "役に立った順",questions_path(order: "evaluations_desc",mode: params[:mode] , country: params[:country],"q[title_or_body_or_tag_name_or_country_name_cont]": params[:q][:title_or_body_or_tag_name_or_country_name_cont]), class: "dropdown-item small"%></li>
                    <% else %>
                    <li><%=link_to "質問日時の新しい順",questions_path(order: "questions_new",mode: params[:mode], country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の多い順",questions_path(order: "answers_desc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "回答数の少ない順",questions_path(order: "answers_asc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                    <li><%=link_to "役に立った順",questions_path(order: "evaluations_desc",mode: params[:mode] , country: params[:country]), class: "dropdown-item small"%></li>
                    <% end %>
                  </ul>
                </div>
                <div class="list-group mb-3">
                  <% @questions.each do |question|%>
                  <div class="list-group-item list-group-item-action question-content">
                    <div class="q-header d-flex justify-content-between mb-1">
                      <div class="header-left d-flex align-items-center">
                        <div class="user-image mr-1">
                          <%= image_tag question.user.image.url%>
                        </div>
                        <div class="user-info">
                          <p class="user-info-top mb-0">
                            <span class="font-weight-bold name"><%= question.user.username%></span>・<span>フォロー</span>
                          </p>
                          <p class="user-info-bottom mb-0">
                            <span><%= question.tag.name %></span>|<span><%= " #{time_ago_in_words(question.created_at)}前に更新" %></span>
                          </p>
                        </div>
                      </div>
                      <div class="header-right d-flex align-items-center">
                        <span class="hide-question"><i class="far fa-times-circle"></i></span>
                      </div>
                    </div>
                    <div class="q-body">
                      <div class="content-title">
                        <%= link_to(question.title, question, class: "font-weight-bold h6")%>

                      </div>
                      <div class="content-body">
                        <%if question.body.length > 200 %>
                        <div class="truncated">
                          <p class="mb-0"><%= question.body.truncate(200)%></p>
                          <p class="text-right mb-0 see-more">&lt;もっと見る&gt;</p>
                        </div>
                        <div class="untruncated" style="display: none">
                          <p class="mb-0"><%= simple_format(h(question.body), {}) %></p>
                        </div>
                        <%else%>
                        <p class="mb-0"><%= simple_format(h(question.body), {})%></p>
                        <%end%>
                      </div>
                      <div class="content-footer">
                        <p class="mb-0"><i class="far fa-comment-alt icon"></i><%=question.answers.count %> <i class="fas fa-thumbs-up"></i><%= question.evaluations.count%> <i class="far fa-eye"></i><%=question.impressionist_count %></p>
                      </div>
                    </div>
                  </div>

                  <%
=begin%>
                  <% @questions.each do |question|%>
                  <%= link_to(question, class: "list-group-item list-group-item-action",'data-toggle': :tooltip,"title": :"#{question.user.username}さんの投稿") do%>
                  <div class="q-header d-flex justify-content-between mb-1">
                    <div class="header-left d-flex align-items-center">
                      <div class="user-image mr-1">
                        <%= image_tag question.user.image.url%>
                      </div>
                      <div class="user-info">
                        <p class="user-info-top mb-0">
                          <span class="font-weight-bold name"><%= question.user.username%></span>・<span>フォロー</span>
                        </p>
                        <p class="user-info-bottom mb-0">
                          <span><%= question.tag.name %></span>|<span><%= " #{time_ago_in_words(question.created_at)}前に更新" %></span>
                        </p>
                      </div>
                    </div>
                    <div class="header-right d-flex align-items-center">
                      <span><i class="far fa-times-circle"></i></span>
                    </div>
                  </div>
                  <div class="q-body">
                    <div class="content-title">
                      <span class="font-weight-bold h6"><%= question.title%></span>
                    </div>
                    <div class="content-body">
                      <p class="mb-0"><%= question.body.truncate(200)%></p>
                      <p class="text-right mb-0">&lt;もっと見る&gt;</p>

                    </div>
                  </div>
                  <%
=end%>

                  <%
=begin%>
                  <p class="mb-1"><%= question.tag.name %> | <%= question.country.name%></p>
                  <h5 class="list-group-item-heading"><%= question.title%></h5>
                  <p class="mb-0"><span class="indent"><i class="far fa-comment-alt icon"></i><%=question.answers.count %> <i class="fas fa-thumbs-up"></i><%= question.evaluations.count%> <i class="far fa-eye"></i><%=question.impressionist_count %> | <%="#{l(question.created_at)}"%></p></span>
                  <%
=end%>
                  <%
=begin%>
                  <%end%>
                  <%
=end%>
                  <%end%>
                  <div class="mx-auto"><%= paginate @questions%></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 container">

      <% @ranks.each.with_index(1) do |question, i| %>
      <div class="mb-3">
        <%= i %>位
        <div class="card shadow-lg">
          <div class="card-title pt-1 pb-1 mb-0">
            <p class="mb-0 ">◆<%= question.title.truncate(50) %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
<br>

<script>
  $('.see-more').click(function() {
    $(this).closest(".content-body").find(".truncated").hide();
    $(this).closest(".content-body").find(".untruncated").show();
  })

  $('.hide-question').click(function() {
    $(this).closest(".question-content").hide();
  })
</script>