<div class="container mt-5 questions">
  <div class="card bg-info border-info top">
    <div class="card-header"><h4 class="question-title"><%= @question.title%></h4>
      <% if @bestanswer == nil%>
        <div class="ribbon">未解決</div>
      <% else %>
        <div class="ribbon-done">締切済</div>
      <% end %>
    </div>
  
    <div class="card-body">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="d-flex mr-auto align-items-center">
            <%= link_to user_path(@question.user.id) do %> 
              <% if @question.user.image? %>
                <%= image_tag @question.user.image.url%>
              <% else %>
                <img src="/images/person2.png">
              <% end %>
            <% end %>
            <h6 class="mr-auto px-3 mb-0"><%= link_to @question.user.username ,user_path(@question.user.id) %></h6>
            <div>
              <p class="text-muted">更新日：<%= @question.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
              <div id="update1"><h6 class="text-right"><i class="far fa-comment-alt icon"></i> 回答<%=@question.answers.count %>件</h6></div>
            </div>
          </div>
          <h6 class="mt-2">
          エリア:<%= @question.country.name%> <br>
          カテゴリ:<%= @question.tag.name%>
          </h6>
          <div class="dash mt-2 mb-2"></div>
          <div><%= raw Rinku.auto_link(simple_format(h(@question.body), {}, wrapper_tag: "h6")) %></div>
          
          <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
            <% if user_signed_in? %>
              <%= react_component("EvaluationButton",{isalready: current_user.already_evaluation?(@question), questionid: @question.id ,questionscount: @question.evaluations.count})%>
            <% else %>
              <div><i class="far fa-grin-squint smile"></i><%= @question.evaluations.count%></div>
            <% end %>
            <div class="text-right">
              <%if user_signed_in? %>
                <% if current_user.id == @question.user_id %>
                  <%= link_to '編集', edit_question_path(@question),class: "text-primary"%> |
                  <%= link_to '投稿を削除する', @question , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %> 
                <% end %>
              <% end %>
            </div>
          </div>
          <%if @question.best_answer_id%>
            <hr>
            <div class="best-answer mb-2"><i class="fas fa-ribbon"></i> ベストアンサー </div>
            <div class="d-flex mr-auto align-items-center">
              <%= link_to user_path(@bestanswer.user.id) do%> 
                <% if @bestanswer.user.image? %>
                  <%= image_tag @bestanswer.user.image.url%>
                <% else%>
                  <img src="/images/person2.png">
                <% end %>
              <% end %>
              <h6 class="mr-auto px-3 mb-0"><%= link_to @bestanswer.user.username ,user_path(@bestanswer.user.id) %></h6>
              <div class="align-self-start">
                <p class="text-muted ">更新日：<%= @bestanswer.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
              </div>
            </div>
            
            <div class="dash mt-2 mb-2"></div>
            <div><%= raw Rinku.auto_link(simple_format(h(@bestanswer.body), {}, wrapper_tag: "h6")) %></div>
            <div class="d-flex justify-content-between mt-2 mb-2">
              <% if user_signed_in? %>
                <%= react_component("GoodButton",{isalready: current_user.already_good?(@bestanswer), answerid: @bestanswer.id ,answerscount: @bestanswer.goods.count})%>
              <% else %>
                <div><i class="far fa-thumbs-up"></i><%= @bestanswer.goods.count%></div>
              <% end %>
            
              <% if user_signed_in? %>
                <% if @question.user.id == current_user.id %>
                  <%= form_with(model: @question, local: true, data: {confirm: "ベストアンサーを取り消します。よろしいですか？"}) do |form| %>
                    <%= form.hidden_field :best_answer_id, value: nil %>
                    <div class="actions">
                      <%= form.submit 'ベストアンサーを取り消す',class:"text-muted btn delete_padding"%>
                    </div>
                  <% end %>
                <%end%>
              <% end %>
            </div>
            
            コメント
            <%= @bestanswer.reactions.count%>件

            <% @bestanswer.reactions.each do |reaction| %>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="card h-100 bg-warning">
                    <div class="card-body">
                      <div class="d-flex mr-auto align-items-center">
                        <%= link_to user_path(reaction.user.id) do %> 
                          <% if reaction.user.image? %>
                            <%= image_tag reaction.user.image.url  %>
                          <% else%>
                            <img src="/images/person2.png">
                          <% end %>
                        <% end %>
                        <h6 class="mr-auto px-3 mb-0"><%= link_to reaction.user.username ,user_path(reaction.user.id) %></h6>
                        <div>
                          <p class="text-muted mb-0"><%= reaction.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>
                      </div>
                      <div class="dash mt-2 mb-2"></div>
                      <div><%= raw Rinku.auto_link(simple_format(h(reaction.body), {}, wrapper_tag: "h6")) %></div>
                      <% if user_signed_in?%>
                        <%if reaction.user.id == current_user.id %>
                          <div class="text-right"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,data: { confirm: "コメントを削除してもよろしいですか？" }%></div>
                        <%end%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
            <% end %>
            
            <%= form_with(model: @reaction,url: answer_reactions_path(@bestanswer.id),id: @bestanswer.id) do |form| %><%end%>
            <% if user_signed_in? %>
              <% if current_user.id == @question.user_id || @bestanswer.user.id  == current_user.id %>
                <!-- <button class="comment-push" value="<%=@bestanswer.id %>" data-answer_id="<%=@bestanswer.id%>">コメントする</button> -->
                <%= button_to 'コメントする', new_answer_reaction_path(@bestanswer.id), :method => :get, :remote => true ,class: "comment-push btn btn-info form-control", id: "comment-push"%>
              <% end%>
            <%end%>
          <% end %>
          <% if user_signed_in?%>
            <% if @question.user.id != current_user.id %>
              <% if @bestanswer == nil%>
                <hr>
                <%= form_with(model: @answer, url: question_answers_path(@question.id),id: "answer") do |form| %><% end%>
                <%= button_to 'この質問に回答する',  new_question_answer_path(@question.id), :method => :get, :remote => true ,class: "form-control btn btn-primary answer-push"%>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 questions">
  <%if @question.best_answer_id %>
    <div id ="update2">他回答<%=@question.answers.count %>件 </div>
  <% else %>
    <div id ="update3">回答<%=@question.answers.count %>件 </div>
  <% end %>
</div>
<%if @question.answers.count != 0 %>
  <% @question.answers.includes(:user,:reactions).each do |answer| %>
    <% if answer.id != @question.best_answer_id%>
      <div class="container mt-5 questions">
        <div class="card border-info mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="d-flex mr-auto align-items-center">
                  <%= link_to user_path(answer.user.id) do %>
                    <% if answer.user.image? %>
                      <%= image_tag answer.user.image.url%>
                    <% else%>
                      <img src="/images/person2.png">
                    <% end %>
                  <% end %>
                  <h6 class="mr-auto px-3 mb-0"><%= link_to answer.user.username ,user_path(answer.user.id) %></h6>
                  <div class="align-self-start">
                    <p class="text-muted ">更新日：<%= answer.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                  </div>
                </div>
                <div class="dash mt-2 mb-2"></div>
                <div><%= raw Rinku.auto_link(simple_format(h(answer.body), {}, wrapper_tag: "h6")) %></div>
                
                  <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                    <% if user_signed_in? %>
                      <% if @question.user.id == current_user.id && @question.best_answer_id == nil %>
                        <%= form_with(model: @question, local: true, data: {confirm: "#{answer.user.username}さんの回答をベストアンサーにします。よろしいですか？"}) do |form| %>
                          <%= form.hidden_field :best_answer_id, value: answer.id %>
                          <div class="actions">
                            <%= form.submit 'ベストアンサーにする' ,class:"btn btn-danger text-white btn-outline-secondary text-absolute"%>
                          </div>
                        <% end %>    
                      <%end%>
                    <% end %>
                    <div class="mr-auto mb-auto">
                      <% if user_signed_in? %>
                        <%= react_component("GoodButton",{isalready: current_user.already_good?(answer), answerid: answer.id ,answerscount: answer.goods.count})%>
                      <% else %>
                        <i class="far fa-thumbs-up"></i><%= answer.goods.count%>
                      <% end %>
                    </div>
                    <% if user_signed_in?%>
                      <div class="text-right">
                        <% if answer.user.id == current_user.id %>
                          <%= link_to '編集', edit_answer_path(answer),class: "text-primary"%> |
                          <%= link_to '投稿を削除する', answer , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  
                  <% answer.reactions.each do |reaction| %>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="card h-100 bg-warning">
                          <div class="card-body">
                            <div class="d-flex mr-auto align-items-center">
                              <%= link_to user_path(reaction.user.id) do %>
                                <% if reaction.user.image? %>
                                  <%= image_tag reaction.user.image.url  %>
                                <% else%>
                                  <img src="/images/person2.png">
                                <% end %>
                              <% end %>
                              <h6 class="mr-auto px-3 mb-0"><%= link_to reaction.user.username ,user_path(reaction.user.id) %></h6>
                              <div>
                                <p class="text-muted mb-0"><%= reaction.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                              </div>
                            </div>
                            <div class="dash mt-2 mb-2"></div>
                            <div><%= raw Rinku.auto_link(simple_format(h(reaction.body), {}, wrapper_tag: "h6")) %></div>
                            <% if user_signed_in?%>
                              <%if reaction.user.id == current_user.id %>
                                <div class="text-right"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,data: { confirm: "コメントを削除してもよろしいですか？" }%></div>
                              <%end%>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div id= "reaction<%=reaction.id %>"></div>
                  <% end %>
                  <% if user_signed_in? %>
                    <% if current_user.id == @question.user.id || answer.user.id == current_user.id %>
                      <%= form_with(model: @reaction,url: answer_reactions_path(answer.id),id: answer.id) do |form| %><%end%>
                      <%= button_to 'コメントする', new_answer_reaction_path(answer.id), :method => :get, :remote => true ,class: "comment-push form-control btn btn-info " %>
                    <% end%>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div id="newanswer"></div>
<%end%>

<script>
$(function() {
  $('.comment-push').click(function() {
    $answer_id = $(this).val();
    $('.comment-push').remove();
    
    
    $.ajax({
      type: 'GET',
      url: '/answers/'+ $answer_id + '/reactions/new',
      // url: '/answers/:answer_id/reactions/new?answer_id=1',
      dataType: 'json',
      data: {
        answer_id: $answer_id
      }
    }
  }).done(function(){
    
  });
});

</script>