 
<div class="container mt-5 questions questions-show">
  <div class="row">
    <div class="col-9">
      <div class="question-content">
        <div class="list-group mb-3">
          <div class="list-group-item list-group-item-action question-content mb-4">
            <div class="show-top"><p class="mb-1"> <%= @question.country.name%> | <%= @question.tag.name %></p></div>
            <div class="q-header d-flex justify-content-between ">
              <div class="header-left d-flex align-items-center">
                
                <div class="show-content-title">
                  <h5 class="font-weight-bold mb-0"><%= @question.title%></h5>
                </div>
                
              </div>
              
              <div class="header-right d-flex align-items-center">
                <% if @question.best_answer_id == nil%>
                  <div class="index-ribbon">未解決</div>
                <% else %>
                  <div class="index-ribbon-done">締切済</div>
                <% end %>
              </div>
            </div>
            <div class="show-top-bottom d-flex">
              <% if @bestanswer == nil%>
                <% if @question.user.id != current_user.id %>
                  <%= button_to new_question_answer_path(@question.id), :method => :get, :remote => true ,class: "respond-button px-1 py-2 mb-2 mr-2 d-flex align-items-center" do%>  
                    <i class="far fa-edit"></i>回答する
                  <% end %>
                <% end %>
                <%= button_to answer_request_path(id: @question.id), :method => :get, class: "respond-button px-1 py-2 mb-2 d-flex align-items-center" do%>
                  <i class="fas fa-long-arrow-alt-right text-center"></i><i class="fas fa-user pr-1"></i>回答依頼
                <% end %>
              <% end %>
            </div>
            <%= form_with(model: @answer, url: question_answers_path(@question.id),id: "answer") do |form| %><% end%>
            <hr class="mb-1 mt-0">
            <div class="mb-1" id ="update3">回答数: <%=@question.answers.count %>件 </div>
            <hr class="mb-3 mt-0">
            <div class="account d-flex align-items-center mb-2">
              <div class="user-image mr-1">
                <% if @question.user.image? %>
                  <%= link_to user_path(@question.user.id) do%>
                    <%= image_tag @question.user.image.url%>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@question.user.id) do%>
                    <img src="/images/person2.png">
                  <% end %>
                <% end %>
              </div>
              <div class="user-info">
                <div class="user-info-top mb-0">
                  <span class="font-weight-bold question-user-name"><%= link_to @question.user.username, user_path(@question.user.id)%></span>
                  <% unless current_user == @question.user %>
                    <!--フォロボタンを押すとUser画面に遷移するので編集-->
                    <!--<i class="fas fa-user-plus"></i>でフォローをボタンに変更する-->
                    <% if current_user.following?(@question.user) %>
                      <span>・</span>
                      <%= form_with(model: current_user.relationships.find_by(follow_id: @question.user.id), class: "form-follow",method: :delete ) do |f| %>
                        <%= hidden_field_tag :follow_id, @question.user.id %>
                        <%= f.submit 'フォロー解除', class: 'follow p-0' %>
                      <% end %>
                    <% else %>
                      <span>・</span>
                  
                      <%= form_with(model: current_user.relationships.build , method: :post, class: "form-follow") do |f| %>
                        <%= hidden_field_tag :follow_id, @question.user.id %>
                        <%= f.submit 'フォロー', class: 'follow p-0 ' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              
                <p class="user-info-bottom mb-0">
                  
                </p>
              </div>
            </div>
            <div class="q-body">
              <div class="content-body mb-2">
                <%= raw Rinku.auto_link(simple_format(h(@question.body),wrapper_tag: "p",class: "mb-2"),:all,'target="_blank"') %>
              </div>
              
              <% if @question.latitude && @question.longitude %>
              
                <div class='gmap' id='q-map'></div>
                <style>
                  #q-map {
                    height: 600px;
                    width: 600px;
                  }             
                </style>

                
              <% end %>

              <div class="content-infomation">
                <p class="mb-0"> <i class="far fa-eye"></i><%=@question.impressionist_count %> <span>| <%= " #{time_ago_in_words(@question.created_at)}前に更新" %></span></p>
              </div>
              <!--TODO: いいねボタン、ブックマークの変更-->
              <div class="question-content-footer d-flex justify-content-between align-items-center mt-1">
                <div class="content-footer-left ">
                  <div class="respond-button-evaluation-bookmark d-flex align-items-center">
                    <% if user_signed_in? %>
                      <%= react_component("EvaluationButton",{isalready: current_user.already_evaluation?(@question), questionid: @question.id ,questionscount: @question.evaluations.count})%>
                    <% else %>
                      <div><i class="far fa-thumbs-up"></i><%= @question.evaluations.count%></div>
                    <% end %>
                    <span class="border-right border-white" style="line-height: 20px"></span>
                    <div class="bookmark-container">
                      <% if current_user.bookmarked_by?(@question) %>
                        <div class="bookmark py-2 px-3 ">
                          <%= link_to question_bookmarks_path(@question), method: :delete do%>
                            <i class="fas fa-bookmark"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="bookmark py-2 px-3 ">
                          <%= link_to question_bookmarks_path(@question), method: :post do%>
                            <i class="far fa-bookmark"></i>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="content-footer-right">
                  <%if user_signed_in? %>
                    <% if current_user.id == @question.user_id %>
                      <p class="mb-0">
                        <%= link_to '編集', edit_question_path(@question),class: "text-primary"%> |
                        <%= link_to '投稿を削除する', @question , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %> 
                      </p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: ベストアンサーの修正-->
      
      <%if @question.best_answer_id%>
        <hr>
        <div class="question-content">
          <div class="list-group mb-3">
            <div class="list-group-item list-group-item-action question-content mb-4 ">
              <div class="q-header d-flex justify-content-between mb-1">
                <div class="header-left d-flex align-items-center">
                  <div class="user-image mr-1">
                    <% if @bestanswer.user.image? %>
                      <%= link_to user_path(@bestanswer.user.id) do%>
                        <%= image_tag @bestanswer.user.image.url%>
                      <% end %>
                    <% else %>
                      <%= link_to user_path(@bestanswer.user.id) do%>
                        <img src="/images/person2.png">
                      <% end %>
                    <% end %>
                  </div>
                  <div class="user-info">
                    <div class="user-info-top mb-0">
                      <span class="font-weight-bold question-user-name"><%= link_to @question.user.username, user_path(@question.user.id)%></span>
                      <% unless current_user == @bestanswer.user %>
                        <% if current_user.following?(@bestanswer.user) %>
                          <span>・</span>
                          <%= form_with(model: current_user.relationships.find_by(follow_id: @bestanswer.user.id), class: "form-follow",method: :delete ) do |f| %>
                            <%= hidden_field_tag :follow_id, @bestanswer.user.id %>
                            <%= f.submit 'フォロー解除', class: 'follow p-0' %>
                          <% end %>
                        <% else %>
                          <span>・</span>
                      
                          <%= form_with(model: current_user.relationships.build , method: :post, class: "form-follow") do |f| %>
                            <%= hidden_field_tag :follow_id, @bestanswer.user.id %>
                            <%= f.submit 'フォロー', class: 'follow p-0 ' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="header-right d-flex align-items-center">
                  <i class="fas fa-ribbon"></i> ベストアンサー
                </div>
              </div>
              <div class="q-body">
                <div class="content-body mt-2 mb-2">
                  <%= raw Rinku.auto_link(simple_format(h(@bestanswer.body),wrapper_tag: "p",class: "mb-2"),:all,'target="_blank"') %>
                </div>
                <% if @bestanswer.latitude && @bestanswer.longitude %>
              
                  <div class='gmap' id='bestanswer-map'></div>
                  <style>
                    #bestanswer-map {
                      height: 600px;
                      width: 600px;
                    }
                  </style>

                  <script>
                    let map
                    let geocoder
                    const display = document.getElementById('display')

                    function initMap() {
                      geocoder = new google.maps.Geocoder()

                      map = new google.maps.Map(document.getElementById('bestanswer-map'), {
                        center: {
                          lat: <%= @bestanswer.latitude %>,
                          lng: <%= @bestanswer.longitude %>
                        },
                        zoom: 12,
                      });

                      geocoder.geocode({
                        // 'address': inputAddress
                        latLng: new google.maps.LatLng(<%= @bestanswer.latitude %>, <%= @bestanswer.longitude %>)
                  
                      }, function(results, status) {
                        if (status == 'OK') {
                          if (results[0].geometry) {

                            var address = results[0].formatted_address
                            
                            new google.maps.InfoWindow({
                              content: address 
                            }).open(map, new google.maps.Marker({
                              position: new google.maps.LatLng(<%= @bestanswer.latitude %>, <%= @bestanswer.longitude %>),
                              map: map
                            }));
                          }
                        } else {
                          alert('該当する結果がありませんでした：' + status);
                        }
                      });
                    }
                  </script>
                  
                  
                <% end %>
                <div class="content-footer d-flex justify-content-between">
                <!-- TODO: いいねボタンをつける-->
                  <p class="mb-0"><i class="fas fa-thumbs-up"></i><%= @bestanswer.goods.count%><span>| <%= " #{time_ago_in_words(@bestanswer.updated_at)}前に更新" %></span></p>

                  <%if user_signed_in? %>
                    <% if @bestanswer.user.id == current_user.id %>
                      <p class="mb-0">
                        <%= link_to '編集', edit_answer_path(@bestanswer),class: "text-primary"%> |
                        <%= link_to '投稿を削除する', @bestanswer , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %> 
                      </p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <%if @bestanswer.reactions.count > 0%>
                <div class="comment-content py-2">
                  <% if @bestanswer.reactions.count >= 2 %>
                    <div class="truncated">
                      <p class="mb-0 see-more"><%= "#{@bestanswer.reactions.first.user.username} さん他より#{@bestanswer.reactions.count}件のコメント"%></p>
                    </div>
                  <% else %>
                    <div class="truncated">
                      <p class="mb-0 see-more"><%= "#{@bestanswer.reactions.first.user.username} さんより#{@bestanswer.reactions.count}件のコメント"%></p>
                    </div>
                  <% end %>
                  
                  
                  <div class="untruncated" style="display: none">
                    <div class="list-group">
                      <!--TODO: Ajaxでコメント送信ができないので実装する-->
                      <!-- TODO: 「コメントする」を押すと全ての「コメントする」が消えるので修正する-->
                        <div class="list-group-item list-group-item-action p-2">
                          <% if user_signed_in? %>
                            <div class="header-left d-flex align-items-center">
                              <div class="user-image mr-1">
                                <% if current_user.image? %>
                                  <%= link_to user_path(current_user.id) do%>
                                    <%= image_tag current_user.image.url%>
                                  <% end %>
                                <% else %>
                                  <%= link_to user_path(current_user.user.id) do%>
                                    <img src="/images/person2.png">
                                  <% end %>
                                <% end %>
                              </div>
                              <%= form_with(model: @reaction,url: answer_reactions_path(@bestanswer.id),id: @bestanswer.id) do |form| %><%end%>
                              <%= button_to 'コメントする', new_answer_reaction_path(@bestanswer.id), :method => :get, :remote => true ,class: "comment-push push-button", id: "comment-push"%>
                            </div>
                          <%end%>
                        </div>
                      <% @bestanswer.reactions.each do |reaction| %>
                        <div id="reaction<%=@bestanswer.id %>"></div>
                        <div class="list-group-item list-group-item-action question-content p-2" id="remove<%=reaction.id%>">
                          <div class="q-header d-flex justify-content-between mb-1">
                            <div class="header-left d-flex align-items-center">
                              <div class="user-image mr-1">
                                <% if reaction.user.image? %>
                                  <%= link_to user_path(reaction.user.id) do%>
                                    <%= image_tag reaction.user.image.url%>
                                  <% end %>
                                <% else %>
                                  <%= link_to user_path(reaction.user.id) do%>
                                    <img src="/images/person2.png">
                                  <% end %>
                                <% end %>
                              </div>
                              <div class="user-info">
                                <div class="user-info-top mb-0">
                                  <span class="font-weight-bold question-user-name"><%= link_to reaction.user.username, user_path(reaction.user.id)%></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="q-body">
                            <div class="content-body mt-2 mb-2">
                              <%= raw Rinku.auto_link(simple_format(h(reaction.body),wrapper_tag: "p",class: "mb-2"),:all,'target="_blank"') %>
                            </div>
                            <div class="content-footer d-flex justify-content-between">
                              <p class="mb-0"><span><%= " #{time_ago_in_words(reaction.updated_at)}前に更新" %></span></p>
                              <% if user_signed_in?%>
                                <%if reaction.user.id == current_user.id %>
                                  <p class="text-right mb-0"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,remote: true,data: { confirm: "コメントを削除してもよろしいですか？" }%></p>
                                <%end%>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="comment-content py-2">
                  <div class="list-group">
                    <div class="list-group-item list-group-item-action first-comment p-2">
                      <% if user_signed_in? %>
                        <div class="header-left d-flex align-items-center">
                          <div class="user-image mr-1">
                            <% if current_user.image? %>
                              <%= link_to user_path(current_user.id) do%>
                                <%= image_tag current_user.image.url%>
                              <% end %>
                            <% else %>
                              <%= link_to user_path(current_user.user.id) do%>
                                <img src="/images/person2.png">
                              <% end %>
                            <% end %>
                          </div>
                          <%= form_with(model: @bestanswer,url: answer_reactions_path(@bestanswer.id),id: @bestanswer.id) do |form| %><%end%>
                          <%= button_to 'コメントする', new_answer_reaction_path(@bestanswer.id), :method => :get, :remote => true ,class: "comment-push push-button", id: "comment-push"%>
                        </div>
                      <%end%>
                    </div>
                  </div>
                  <div id="reaction<%=@bestanswer.id %>"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="answers_count mb-3 ml-2">
        <%if @question.best_answer_id %>
          <div id ="update2">他回答数: <%=@question.answers.count - 1 %>件 </div>
        <% else %>
          <div id ="update3">回答数: <%=@question.answers.count %>件 </div>
        <% end %>
      </div>
      <%if @question.answers.count != 0 %>
        <% @question.answers.includes(:user,:reactions).each do |answer| %>
          <% if answer.id != @question.best_answer_id%>
            <div class="question-content" id="remove<%=answer.id%>">
              <div class="list-group mb-3">
                <div class="list-group-item list-group-item-action question-content mb-4">
                  <div class="q-header d-flex justify-content-between mb-1">
                    <div class="header-left d-flex align-items-center">
                      <div class="user-image mr-1">
                        <% if answer.user.image? %>
                          <%= link_to user_path(answer.user.id) do%>
                            <%= image_tag answer.user.image.url%>
                          <% end %>
                        <% else %>
                          <%= link_to user_path(answer.user.id) do%>
                            <img src="/images/person2.png">
                          <% end %>
                        <% end %>
                      </div>
                      <div class="user-info">
                        <div class="user-info-top mb-0">
                          <span class="font-weight-bold question-user-name"><%= link_to answer.user.username, user_path(answer.user.id)%></span>
                          <% unless current_user == answer.user %>
                            <% if current_user.following?(answer.user) %>
                              <span>・</span>
                              <%= form_with(model: current_user.relationships.find_by(follow_id: answer.user.id), class: "form-follow",method: :delete ) do |f| %>
                                <%= hidden_field_tag :follow_id, answer.user.id %>
                                <%= f.submit 'フォロー解除', class: 'follow p-0' %>
                              <% end %>
                            <% else %>
                              <span>・</span>
                          
                              <%= form_with(model: current_user.relationships.build , method: :post, class: "form-follow") do |f| %>
                                <%= hidden_field_tag :follow_id, answer.user.id %>
                                <%= f.submit 'フォロー', class: 'follow p-0 ' %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      
                        <p class="user-info-bottom mb-0">
                          
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="q-body">
                    <div class="content-body mt-2 mb-2">
                      <%= raw Rinku.auto_link(simple_format(h(answer.body),wrapper_tag: "p",class: "mb-2"),:all,'target="_blank"') %>
                    </div>
                    <% if answer.latitude && answer.longitude %>
                      <div class='gmap' id='map<%= answer.id%>'></div>
                      <style>
                        #map<%= answer.id%> {
                          height: 600px;
                          width: 600px;
                        }
                      </style>           
                    <% end %>
                    <div class="content-footer d-flex justify-content-between">
                      <p class="mb-0"><i class="fas fa-thumbs-up"></i><%= answer.goods.count%><span>| <%= " #{time_ago_in_words(answer.updated_at)}前に更新" %></span></p>
                      <%if user_signed_in? %>
                        <% if answer.user.id == current_user.id %>
                          <p class="mb-0">
                            <%= link_to '編集', edit_answer_path(answer),class: "text-primary"%> |
                            <%= link_to '投稿を削除する', answer , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %> 
                          </p>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <%if answer.reactions.count > 0 %>
                    <div class="comment-content py-2">
                      <% if answer.reactions.count >= 2 %>
                        <div class="truncated">
                          <p class="mb-0 see-more"><%= "#{answer.reactions.first.user.username} さん他より#{answer.reactions.count}件のコメント"%></p>
                        </div>
                      <% else %>
                        <div class="truncated">
                          <p class="mb-0 see-more"><%= "#{answer.reactions.first.user.username} さんより#{answer.reactions.count}件のコメント"%></p>
                        </div>
                      <% end %>
                      
                      
                      <div class="untruncated" style="display: none">
                        <div class="list-group">
                          <div class="list-group-item list-group-item-action p-2">
                            <% if user_signed_in? %>
                              <div class="header-left d-flex align-items-center">
                                <div class="user-image mr-1">
                                  <% if current_user.image? %>
                                    <%= link_to user_path(current_user.id) do%>
                                      <%= image_tag current_user.image.url%>
                                    <% end %>
                                  <% else %>
                                    <%= link_to user_path(current_user.user.id) do%>
                                      <img src="/images/person2.png">
                                    <% end %>
                                  <% end %>
                                </div>
                                <%= form_with(model: answer,url: answer_reactions_path(answer.id),id: answer.id) do |form| %><%end%>
                                <%= button_to 'コメントする' ,new_answer_reaction_path(answer.id), :method => :get, :remote => true ,class: "comment-push push-button", id: "comment-push" %>
                              </div>
                            <%end%>
                          </div>
                          <% answer.reactions.each do |reaction| %>
                            <div id="reaction<%=answer.id %>"></div>
                            <div class="list-group-item list-group-item-action question-content" id="remove<%=reaction.id%>">
                              <div class="q-header d-flex justify-content-between mb-1">
                                <div class="header-left d-flex align-items-center">
                                  <div class="user-image mr-1">
                                    <% if reaction.user.image? %>
                                      <%= link_to user_path(reaction.user.id) do%>
                                        <%= image_tag reaction.user.image.url%>
                                      <% end %>
                                    <% else %>
                                      <%= link_to user_path(reaction.user.id) do%>
                                        <img src="/images/person2.png">
                                      <% end %>
                                    <% end %>
                                  </div>
                                  <div class="user-info">
                                    <div class="user-info-top mb-0">
                                      <span class="font-weight-bold question-user-name"><%= link_to reaction.user.username, user_path(reaction.user.id)%></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="q-body">
                                <div class="content-body mt-2 mb-2">
                                  <%= raw Rinku.auto_link(simple_format(h(reaction.body),wrapper_tag: "p",class: "mb-2"),:all,'target="_blank"') %>
                                </div>
                                <div class="content-footer d-flex justify-content-between">
                                  <p class="mb-0"><span><%= " #{time_ago_in_words(reaction.updated_at)}前に更新" %></span></p>
                                  <% if user_signed_in?%>
                                    <%if reaction.user.id == current_user.id %>
                                      <p class="text-right mb-0"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,remote: true,data: { confirm: "コメントを削除してもよろしいですか？" }%></p>
                                    <%end%>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="comment-content py-2">
                      <div class="list-group">
                        <div class="list-group-item list-group-item-action first-comment p-2">
                          <% if user_signed_in? %>
                            <div class="header-left d-flex align-items-center">
                              <div class="user-image mr-1">
                                <% if current_user.image? %>
                                  <%= link_to user_path(current_user.id) do%>
                                    <%= image_tag current_user.image.url%>
                                  <% end %>
                                <% else %>
                                  <%= link_to user_path(current_user.user.id) do%>
                                    <img src="/images/person2.png">
                                  <% end %>
                                <% end %>
                              </div>
                              <%= form_with(model: answer,url: answer_reactions_path(answer.id),id: answer.id) do |form| %><%end%>
                              <%= button_to 'コメントする', new_answer_reaction_path(answer.id), :method => :get, :remote => true ,class: "comment-push push-button", id: "comment-push"%>
                            </div>
                          <%end%>
                        </div>
                        <div id="reaction<%=answer.id %>"></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      <%end%>

      <%if @question.answers.count != 0 %>
        <% @question.answers.includes(:user,:reactions).each do |answer| %>
          <% if answer.id != @question.best_answer_id%>
            <div class="mt-5 questions" id="remove<%=answer.id%>">
              <div class="card border-info mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <div class="d-flex mr-auto align-items-center">
                        <%= link_to user_path(answer.user.id) do %>
                          <% if answer.user.image? %>
                            <%= image_tag answer.user.image.url%>
                          <% else%>
                            <img src="/images/person2.png">
                          <% end %>
                        <% end %>
                        <h6 class="mr-auto px-3 mb-0"><%= link_to answer.user.username ,user_path(answer.user.id) %></h6>
                        <div class="align-self-start">
                          <p class="text-muted ">更新日：<%= answer.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>
                      </div>
                      <div class="dash mt-2 mb-2"></div>
                      <div><%= raw Rinku.auto_link(simple_format(h(answer.body), {}, wrapper_tag: "h6")) %></div>
                      
                        <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                          <% if user_signed_in? %>
                            <% if @question.user.id == current_user.id && @question.best_answer_id == nil %>
                              <%= form_with(model: @question, local: true, data: {confirm: "#{answer.user.username}さんの回答をベストアンサーにします。よろしいですか？"}) do |form| %>
                                <%= form.hidden_field :best_answer_id, value: answer.id %>
                                <div class="actions">
                                  <%= form.submit 'ベストアンサーにする' ,class:"btn btn-danger text-white btn-outline-secondary text-absolute"%>
                                </div>
                              <% end %>    
                            <%end%>
                          <% end %>
                          <div class="mr-auto mb-auto">
                            <% if user_signed_in? %>
                              <%= react_component("GoodButton",{isalready: current_user.already_good?(answer), answerid: answer.id ,answerscount: answer.goods.count})%>
                            <% else %>
                              <i class="far fa-thumbs-up"></i><%= answer.goods.count%>
                            <% end %>
                          </div>
                          <% if user_signed_in?%>
                            <div class="text-right">
                              <% if answer.user.id == current_user.id %>
                                <%= link_to '編集', edit_answer_path(answer),class: "text-primary"%> |
                                <%= link_to '回答を削除する', answer , method: :delete,remote: true, data: { confirm: '本当によろしいですか？'},class: "text-primary" %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                        
                        <% answer.reactions.each do |reaction| %>
                          <div class="row" id="remove<%=reaction.id%>">
                            <div class="col-lg-12 col-md-12">
                              <div class="card h-100 bg-warning">
                                <div class="card-body">
                                  <div class="d-flex mr-auto align-items-center">
                                    <%= link_to user_path(reaction.user.id) do %>
                                      <% if reaction.user.image? %>
                                        <%= image_tag reaction.user.image.url  %>
                                      <% else%>
                                        <img src="/images/person2.png">
                                      <% end %>
                                    <% end %>
                                    <h6 class="mr-auto px-3 mb-0"><%= link_to reaction.user.username ,user_path(reaction.user.id) %></h6>
                                    <div>
                                      <p class="text-muted mb-0"><%= reaction.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                                    </div>
                                  </div>
                                  <div class="dash mt-2 mb-2"></div>
                                  <div><%= raw Rinku.auto_link(simple_format(h(reaction.body), {}, wrapper_tag: "h6")) %></div>
                                  <% if user_signed_in?%>
                                    <%if reaction.user.id == current_user.id %>
                                      <div class="text-right"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,remote: true,data: { confirm: "コメントを削除してもよろしいですか？" }%></div>
                                    <%end%>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        <% end %>
                        <div id="reaction<%=answer.id %>"></div>

                        <% if user_signed_in? %>
                          <% if current_user.id == @question.user.id || answer.user.id == current_user.id %>
                            <%= form_with(model: @reaction,url: answer_reactions_path(answer.id),id: answer.id) do |form| %><%end%>
                            <%= button_to 'コメントする', new_answer_reaction_path(answer.id), :method => :get, :remote => true ,class: "comment-push form-control btn btn-info " %>
                          <% end%>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <%end%>
      <div id="newanswer"></div>
      

      <div class="card bg-info border-info top">
        <div class="card-header"><h4 class="question-title"><%= @question.title%></h4>
          <% if @bestanswer == nil%>
            <div class="ribbon">未解決</div>
          <% else %>
            <div class="ribbon-done">締切済</div>
          <% end %>
        </div>
      
        <div class="card-body">
          <div class="">
            <div class="">
              <div class="d-flex mr-auto align-items-center">
                <%= link_to user_path(@question.user.id) do %> 
                  <% if @question.user.image? %>
                    <%= image_tag @question.user.image.url%>
                  <% else %>
                    <img src="/images/person2.png">
                  <% end %>
                <% end %>
                <h6 class="mr-auto px-3 mb-0"><%= link_to @question.user.username ,user_path(@question.user.id) %></h6>
                <div>
                  <p class="text-muted">更新日：<%= @question.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
                  <div id="update1"><h6 class="text-right"><i class="far fa-comment-alt icon"></i> 回答<%=@question.answers.count %>件 | <i class="far fa-eye"></i>閲覧数<%=@question.impressionist_count %></h6></div> 
                </div>
              </div>
              <h6 class="mt-2">
              エリア:<%= @question.country.name%> <br>
              カテゴリ:<%= @question.tag.name%>
              </h6>
              <div class="dash mt-2 mb-2"></div>
              <div><%= raw Rinku.auto_link(simple_format(h(@question.body), {}, wrapper_tag: "h6")) %></div>
              
              <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <% if user_signed_in? %>
                  <%= react_component("EvaluationButton",{isalready: current_user.already_evaluation?(@question), questionid: @question.id ,questionscount: @question.evaluations.count})%>
                <% else %>
                  <div><i class="far fa-grin-squint smile"></i><%= @question.evaluations.count%></div>
                <% end %>
                <% if current_user.bookmarked_by?(@question) %>
                  <%= link_to question_bookmarks_path(@question), method: :delete do%>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                <% else %>
                  <%= link_to question_bookmarks_path(@question), method: :post do%>
                    <i class="far fa-bookmark"></i>
                  <% end %>
                <% end %>
                
                <%= link_to "https://twitter.com/intent/tweet?url=#{request.url}&text=#{@question.title}", title: 'Twitter', target: '_blank' do%>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <div id="fb-root"></div>
                
                <div class="fb-share-button" data-href="<%=request.url%>" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.travelour.net%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook"></i></a></div>
                <div class="ml-auto">
                  <%if user_signed_in? %>
                    <% if current_user.id == @question.user_id %>
                      <%= link_to '編集', edit_question_path(@question),class: "text-primary"%> |
                      <%= link_to '投稿を削除する', @question , method: :delete, data: { confirm: '本当によろしいですか？'},class: "text-primary" %> 
                    <% end %>
                  <% end %>
                </div>
              </div>
              <%if @question.best_answer_id%>
                <hr>
                <div class="best-answer mb-2"><i class="fas fa-ribbon"></i> ベストアンサー </div>
                <div class="d-flex mr-auto align-items-center">
                  <%= link_to user_path(@bestanswer.user.id) do%> 
                    <% if @bestanswer.user.image? %>
                      <%= image_tag @bestanswer.user.image.url%>
                    <% else%>
                      <img src="/images/person2.png">
                    <% end %>
                  <% end %>
                  <h6 class="mr-auto px-3 mb-0"><%= link_to @bestanswer.user.username ,user_path(@bestanswer.user.id) %></h6>
                  <div class="align-self-start">
                    <p class="text-muted ">更新日：<%= @bestanswer.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                  </div>
                </div>
                
                <div class="dash mt-2 mb-2"></div>
                <div><%= raw Rinku.auto_link(simple_format(h(@bestanswer.body), {}, wrapper_tag: "h6")) %></div>
                <div class="d-flex justify-content-between mt-2 mb-2">
                  <% if user_signed_in? %>
                    <%= react_component("GoodButton",{isalready: current_user.already_good?(@bestanswer), answerid: @bestanswer.id ,answerscount: @bestanswer.goods.count})%>
                  <% else %>
                    <div><i class="far fa-thumbs-up"></i><%= @bestanswer.goods.count%></div>
                  <% end %>
                
                  <% if user_signed_in? %>
                    <% if @question.user.id == current_user.id %>
                      <%= form_with(model: @question, local: true, data: {confirm: "ベストアンサーを取り消します。よろしいですか？"}) do |form| %>
                        <%= form.hidden_field :best_answer_id, value: nil %>
                        <div class="actions">
                          <%= form.submit 'ベストアンサーを取り消す',class:"text-muted btn delete_padding"%>
                        </div>
                      <% end %>
                    <%end%>
                  <% end %>
                </div>
                
                コメント
                <%= @bestanswer.reactions.count%>件

                <% @bestanswer.reactions.each do |reaction| %>
                  <div class="row" id="remove<%=reaction.id%>">
                    <div class="col-lg-12 col-md-12">
                      <div class="card h-100 bg-warning">
                        <div class="card-body">
                          <div class="d-flex mr-auto align-items-center">
                            <%= link_to user_path(reaction.user.id) do %> 
                              <% if reaction.user.image? %>
                                <%= image_tag reaction.user.image.url  %>
                              <% else%>
                                <img src="/images/person2.png">
                              <% end %>
                            <% end %>
                            <h6 class="mr-auto px-3 mb-0"><%= link_to reaction.user.username ,user_path(reaction.user.id) %></h6>
                            <div>
                              <p class="text-muted mb-0"><%= reaction.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                            </div>
                          </div>
                          <div class="dash mt-2 mb-2"></div>
                          <div><%= raw Rinku.auto_link(simple_format(h(reaction.body), {}, wrapper_tag: "h6")) %></div>
                          <% if user_signed_in?%>
                            <%if reaction.user.id == current_user.id %>
                              <div class="text-right"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,remote: true,data: { confirm: "コメントを削除してもよろしいですか？" }%></div>
                            <%end%>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  
                <% end %>
                <div id="reaction<%=@bestanswer.id %>"></div>
                <%= form_with(model: @reaction,url: answer_reactions_path(@bestanswer.id),id: @bestanswer.id) do |form| %><%end%>
                  <% if user_signed_in? %>
                    <% if current_user.id == @question.user_id || @bestanswer.user.id  == current_user.id %>
                      <!-- <button class="comment-push" value="<%=@bestanswer.id %>" data-answer_id="<%=@bestanswer.id%>">コメントする</button> -->
                      <%= button_to 'コメントする', new_answer_reaction_path(@bestanswer.id), :method => :get, :remote => true ,class: "comment-push btn btn-info form-control", id: "comment-push"%>
                    <% end%>
                  <%end%>
                <% end %>
                <% if user_signed_in?%>
                  <% if @question.user.id != current_user.id %>
                    <% if @bestanswer == nil%>
                      <hr>
                      <%= form_with(model: @answer, url: question_answers_path(@question.id),id: "answer") do |form| %><% end%>
                      <%= button_to 'この質問に回答する',  new_question_answer_path(@question.id), :method => :get, :remote => true ,class: "form-control btn btn-primary answer-push"%>
                      
                    <% end %>
                  <% end %>
                  <%= button_to '回答依頼を出す',  answer_request_path(id: @question.id), :method => :get, class: "form-control btn btn-primary" if current_user.id == @question.user.id%>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 questions">
        <%if @question.best_answer_id %>
          <div id ="update2">他回答<%=@question.answers.count - 1 %>件 </div>
        <% else %>
          <div id ="update3">回答<%=@question.answers.count %>件 </div>
        <% end %>
      </div>
      <%if @question.answers.count != 0 %>
        <% @question.answers.includes(:user,:reactions).each do |answer| %>
          <% if answer.id != @question.best_answer_id%>
            <div class="mt-5 questions" id="remove<%=answer.id%>">
              <div class="card border-info mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <div class="d-flex mr-auto align-items-center">
                        <%= link_to user_path(answer.user.id) do %>
                          <% if answer.user.image? %>
                            <%= image_tag answer.user.image.url%>
                          <% else%>
                            <img src="/images/person2.png">
                          <% end %>
                        <% end %>
                        <h6 class="mr-auto px-3 mb-0"><%= link_to answer.user.username ,user_path(answer.user.id) %></h6>
                        <div class="align-self-start">
                          <p class="text-muted ">更新日：<%= answer.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>
                      </div>
                      <div class="dash mt-2 mb-2"></div>
                      <div><%= raw Rinku.auto_link(simple_format(h(answer.body), {}, wrapper_tag: "h6")) %></div>
                      
                        <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                          <% if user_signed_in? %>
                            <% if @question.user.id == current_user.id && @question.best_answer_id == nil %>
                              <%= form_with(model: @question, local: true, data: {confirm: "#{answer.user.username}さんの回答をベストアンサーにします。よろしいですか？"}) do |form| %>
                                <%= form.hidden_field :best_answer_id, value: answer.id %>
                                <div class="actions">
                                  <%= form.submit 'ベストアンサーにする' ,class:"btn btn-danger text-white btn-outline-secondary text-absolute"%>
                                </div>
                              <% end %>    
                            <%end%>
                          <% end %>
                          <div class="mr-auto mb-auto">
                            <% if user_signed_in? %>
                              <%= react_component("GoodButton",{isalready: current_user.already_good?(answer), answerid: answer.id ,answerscount: answer.goods.count})%>
                            <% else %>
                              <i class="far fa-thumbs-up"></i><%= answer.goods.count%>
                            <% end %>
                          </div>
                          <% if user_signed_in?%>
                            <div class="text-right">
                              <% if answer.user.id == current_user.id %>
                                <%= link_to '編集', edit_answer_path(answer),class: "text-primary"%> |
                                <%= link_to '回答を削除する', answer , method: :delete,remote: true, data: { confirm: '本当によろしいですか？'},class: "text-primary" %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                        
                        <% answer.reactions.each do |reaction| %>
                          <div class="row" id="remove<%=reaction.id%>">
                            <div class="col-lg-12 col-md-12">
                              <div class="card h-100 bg-warning">
                                <div class="card-body">
                                  <div class="d-flex mr-auto align-items-center">
                                    <%= link_to user_path(reaction.user.id) do %>
                                      <% if reaction.user.image? %>
                                        <%= image_tag reaction.user.image.url  %>
                                      <% else%>
                                        <img src="/images/person2.png">
                                      <% end %>
                                    <% end %>
                                    <h6 class="mr-auto px-3 mb-0"><%= link_to reaction.user.username ,user_path(reaction.user.id) %></h6>
                                    <div>
                                      <p class="text-muted mb-0"><%= reaction.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                                    </div>
                                  </div>
                                  <div class="dash mt-2 mb-2"></div>
                                  <div><%= raw Rinku.auto_link(simple_format(h(reaction.body), {}, wrapper_tag: "h6")) %></div>
                                  <% if user_signed_in?%>
                                    <%if reaction.user.id == current_user.id %>
                                      <div class="text-right"> <%= link_to "コメントを削除" , reaction_path(reaction.id),method: :delete ,remote: true,data: { confirm: "コメントを削除してもよろしいですか？" }%></div>
                                    <%end%>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        <% end %>
                        <div id="reaction<%=answer.id %>"></div>

                        <% if user_signed_in? %>
                          <% if current_user.id == @question.user.id || answer.user.id == current_user.id %>
                            <%= form_with(model: @reaction,url: answer_reactions_path(answer.id),id: answer.id) do |form| %><%end%>
                            <%= button_to 'コメントする', new_answer_reaction_path(answer.id), :method => :get, :remote => true ,class: "comment-push form-control btn btn-info " %>
                          <% end%>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <%end%> 

      <div id="newanswer"></div>
    </div>
    <div class="col-3">
      <%if @question.related_questions.count > 3%>
        <p class="h6 font-weight-bold">関連する質問</p>
        <% @question.related_questions.each do |question|%>
          <div class="relational-question">
            <div class="mt-3 mb-3">
              <p><%= link_to question.title.truncate(50) ,question ,class: "relational-question-content"%></p>
            </div>
          </div>
        <% end %>
      <% elsif @question.related_questions.count > 0%>
        <p class="h6 font-weight-bold">関連する質問</p>
        <% @question.related_questions.each do |question|%>
          <div class="relational-question">
            <div class="mt-3 mb-3">
              <p><%= link_to question.title.truncate(50) ,question ,class: "relational-question-content"%></p>
            </div>
          </div>
        <% end %>
        <p class="h6 font-weight-bold mt-5">最近解決した質問</p>
        <% Question.recentry_resolved_questions.each do |question| %>
          <div class="relational-question">
            <div class="mt-3 mb-3">
              <p><%= link_to question.title.truncate(50) ,question ,class: "relational-question-content"%></p>
            </div>
          </div>
        <% end %>
      <% elsif %>
        <p class="h6 font-weight-bold">最近解決した質問</p>
        <% Question.recentry_resolved_questions.each do |question| %>
          <div class="relational-question">
            <div class="mt-3 mb-3">
              <p><%= link_to question.title.truncate(50) ,question ,class: "relational-question-content"%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
$('.see-more').click(function() {
  $(this).closest(".comment-content").find(".truncated").hide();
  $(this).closest(".comment-content").find(".untruncated").show();
})

</script>

<script>
let q_map
let q_geocoder
let map<%=answer.id%>
let geocoder<%=answer.id%>

function initMap() {
  q_geocoder = new google.maps.Geocoder()

  q_map = new google.maps.Map(document.getElementById('q-map'), {
    center: {
      lat: <%= @question.latitude %>,
      lng: <%= @question.longitude %>
    },
    zoom: 12,
  });

  q_geocoder.geocode({
    // 'address': inputAddress
    latLng: new google.maps.LatLng(<%= @question.latitude %>, <%= @question.longitude %>)

  }, function(results, status) {
    if (status == 'OK') {
      if (results[0].geometry) {

        var address = results[0].formatted_address
        
        new google.maps.InfoWindow({
          content: address 
        }).open(q_map, new google.maps.Marker({
          position: new google.maps.LatLng(<%= @question.latitude %>, <%= @question.longitude %>),
          map: q_map
        }));
      }
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });

  geocoder<%=answer.id%> = new google.maps.Geocoder()

  map<%=answer.id%> = new google.maps.Map(document.getElementById('map<%= answer.id%>'), {
    center: {
      lat: <%= answer.latitude %>,
      lng: <%= answer.longitude %>
    },
    zoom: 12,
  });

  geocoder<%=answer.id%>.geocode({
    // 'address': inputAddress
    latLng: new google.maps.LatLng(<%= answer.latitude %>, <%= answer.longitude %>)

  }, function(results, status) {
    if (status == 'OK') {
      if (results[0].geometry) {

        var address = results[0].formatted_address
        
        new google.maps.InfoWindow({
          content: address 
        }).open(map<%=answer.id%>, new google.maps.Marker({
          position: new google.maps.LatLng(<%= answer.latitude %>, <%= answer.longitude %>),
          map: map<%=answer.id%>
        }));
      }
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB9VF2bwI1ewTkQaltzMffsfot47xa7AA&callback=initMap" async defer></script>



<script>
// $(function() {
//   $('.comment-push').click(function() {
//     $answer_id = $(this).val();
//     $('.comment-push').remove();
    
    
//     $.ajax({
//       type: 'GET',
//       url: '/answers/'+ $answer_id + '/reactions/new',
//       // url: '/answers/:answer_id/reactions/new?answer_id=1',
//       dataType: 'json',
//       data: {
//         answer_id: $answer_id
//       }
//     })
//   }).done(function(){
    
//   });
// });
</script>

