<!-- TODO: フォロー画面の編集-->
<div class="container mt-5 col-8 user-profile">
  <%= @user.username%>のフォロー・フォロワー一覧
  <ul class="nav nav-tabs">
    <li class="nav-item col-4 text-center">
      <%= link_to "フォロー", connections_path(mode: "followings") ,class: "nav-link h6 a_tag #{'active' if params[:mode] == 'followings' || params[:mode] == nil} "%>
    </li>
    <li class="nav-item col-4 text-center ">
      <%= link_to "フォロワー", connections_path(mode: "followers"),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'followers'}" %>
    </li>
    <li class="nav-item col-4 text-center">
      <%= link_to "相互フォロー",connections_path(mode: "matchers"),class: "nav-link h6 a_tag #{'active' if params[:mode] == 'matchers'}" %>
    </li>
  </ul>
  <div class="list-group mb-3">
    <% @connections.each do |connection|%>
      <div class="list-group-item list-group-item-action question-content ">
        <div class="following-followers d-flex align-items-center">
          <div class="user-image mr-1">
            <% if connection.image? %>
              <%= link_to user_path(connection.id) do%>
                <%= image_tag connection.image.url%>
              <% end %>
            <% else %>
              <%= link_to user_path(connection.id) do%>
                <img src="/images/person2.png">
              <% end %>
            <% end %>
          </div>
          <%= link_to(connection.username, user_path(connection.id) )%>
        </div>
      </div>
    <% end %>
  </div>
</div>