<div class="main user-show">
  <div class="container mt-5 user">
    <div class="row">
    <div class="col-7 mx-auto">
    <div class="user">
      <% if current_user.image? %>
        <%= image_tag current_user.image.url  %>
      <% else%>
        <img src="/images/person2.png">
      <% end %>
      <h2 class="mt-2"><%= @user.username %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == current_user.id %>
        <%= link_to("編集", edit_user_path(current_user)) %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li><%= link_to("投稿", user_path) %></li>
      <li class="active"><%= link_to("役に立った!", "") %></li>
    </ul>
    <% @questions.each do |question| %>      
      <div class="col-12 mx-auto posts-index-item">
        <div class="d-flex mr-auto align-items-center">
          <% if @user.image? %>
            <%= image_tag @user.image.url%>
          <% else%>
            <img src="/images/person2.png">
          <% end %>
          <div class="">
            <h6 class="text-left mr-auto px-3 mb-0"><%= link_to question.user.username ,user_path(question.user.id) %> </h6>
            <h5 class="mb-0 px-3"><%= link_to(question.title, question) %></h5>
          </div>
        </div>
      </div>                     
    <% end %>
    </div>
    </div>
    </div>
  </div>
</div>