<%# <%= image_tag @country.image ,class: "country" if @country.image? %>
<div class="main user-show">
  <div class="container mt-5 user">
    <div class="row">
      <div class="col-7 mx-auto">
        <div class="user">
          <% if @user.image? %>
            <%= image_tag @user.image.url  %>
          <% else%>
            <img src="/images/person2.png">
          <% end %>

          <h2 class="mt-2"><%= @user.username %></h2>
          <p><%= @user.email %></p>
          <%if @user.email != "guest@gmail.com"%>
            <% if @user.id == current_user.id %>
              <%= link_to("編集", edit_user_path(current_user)) %>
              <br>
            <% end %>
          <% end %>
          |フォロー(<%= @user.followings.count%>)|フォロワー(<%= @user.followers.count%>)|相互フォロー(<%= @user.matchers.count%>)|
          <br>
          <%= link_to('フォロー・フォロワー一覧',connections_path(@user.id))%>
        </div>
      
        <%
=begin%>
 ランク<%= @user.rank %>
        EXP <%= @user.exp%> 
<%
=end%>
        <% unless current_user == @user %>
          <% if current_user.following?(@user) %>
            <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
              <%= hidden_field_tag :follow_id, @user.id %>
              <%= f.submit 'フォロー解除', class: 'btn btn-danger btn-block' %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build) do |f| %>
              <%= hidden_field_tag :follow_id, @user.id %>
              <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
            <% end %>
          <% end %>
        <% end %>
        <ul class="user-tabs">
          <li class="<%='active' if params[:mode] == 'show' || params[:mode] == nil %>">
            <%= link_to "投稿", user_path(mode: "show") %>
          </li>
          <li class="<%='active' if params[:mode] == 'evaluations' %>">
            <%= link_to "役に立った!", user_path(mode: "evaluations") %>
          </li>

          <li class="<%='active' if params[:mode] == 'bookmarks' %>">
            <%= link_to "ブックマーク", user_path(mode: "bookmarks") %>
          </li>
        </ul>

        <% @questions.each do |question| %>
        <div class="col-12 mx-auto posts-index-item">
          <div class="d-flex mr-auto align-items-center">
            <% if question.user.image? %>
            <%= image_tag question.user.image.url%>
            <% else%>
            <img src="/images/person2.png">
            <% end %>
            <div class="">
              <h6 class="text-left mr-auto px-3 mb-0"><%= question.user.username%></h6>
              <h5 class="mb-0 px-3"><%= link_to(question.title, question) %></h5>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>