<%= form_with(model: @reaction,url: answer_reactions_path(@reaction.answer.id),remote: true,id: "reaction") do |form| %>
  
  <% if @reaction.errors.any? %>
    <div id="error_explanation">
      
      <h2><%= pluralize(@reaction.errors.count, "error") %> </h2>
 
      <ul>
        <% @reaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <!-- TODO: Qiita テキストボックスの拡張-->
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="d-flex align-items-center">
    <div class="FlexTextarea mr-3">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <%= form.text_area :body ,id: "push-textarea", class: "push-textarea" ,placeholder: "コメントを入力..." %>
    </div>
  
    <%= form.submit "コメントを追加" ,class: "push-button"%>

  </div>
<% end %>

<script>
function flexTextarea(el) {
  const dummy = el.querySelector('.FlexTextarea__dummy')
  el.querySelector('.push-textarea').addEventListener('input', e => {
    dummy.textContent = e.target.value + '\u200b'
  })
}

document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>