<div class="answer-form mb-2">
  <%= form_with(model: @answer, url: question_answers_path,remote: true,id: "answer") do |form| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> </h2>
        <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="list-group">
      <div class="form-header d-flex list-group-item align-items-center p-2">
        <div class="user-image mr-1">
          <% if current_user.image? %>
            <%= link_to user_path(current_user.id) do%>
              <%= image_tag current_user.image.url%>
            <% end %>
          <% else %>
            <%= link_to user_path(current_user.id) do%>
              <img src="/images/person2.png">
            <% end %>
          <% end %>
          
        </div>
        <div class="user-info">
          <span class="font-weight-bold question-user-name"><%= link_to current_user.username ,user_path(current_user.id) ,class: "user-name"%></span>
        </div>
      </div>
      <div class="form-textarea">
        <div class="FlexTextarea ">
          <div class="FlexTextarea__dummy" aria-hidden="true"></div>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.text_area :body ,id: "push-textarea-answer", class: "push-textarea-answer" ,placeholder: "回答を入力..." %>
          </div>
        </div>
      <div class="form-footer list-group-item d-flex align-items-center justify-content-between p-2">
        <div class="submit-button"><%= form.submit "投稿" ,class: "push-button" %></div> 
        <div class="d-flex align-items-center tool-area">
          <span id ="push-image"></span>
          <span class="respond-button p-2 ">
            <%= form.file_field :image, class: "image", accept: "image/jpeg,image/png",style: "display: none" %>
            <%= form.label :image, class: "image mb-0 mt-1 " do%>
              <i class="far fa-image mx-3"></i>
            <% end %>
            
          </span>
        
          <span class="respond-button p-2">
            <div type="button" data-toggle="modal" data-target="#exampleModal">
              <div class="d-flex "><i class="fas fa-map-marker-alt respond-button mx-3"></i></div><div id="map-button" class="setCheck"></div>
            </div>
          </span>
          <%= form.hidden_field :latitude, id: "answer_latitude" %>
          <%= form.hidden_field :longitude, id: "answer_longitude" %>
        </div>
      </div>
    </div>
  <% end %>
  
  
</div>


<%
=begin%>
 <%= form_with(model: @answer, url: question_answers_path,remote: true,id: "answer") do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> </h2>
      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="d-flex align-items-center">
    <div class="FlexTextarea mr-3">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <%= form.text_area :body ,id: "push-textarea", class: "push-textarea" ,placeholder: "回答を入力..." %>
    </div>
    <%= form.submit "回答する" ,class: "push-button" %>
  </div>

<% end %> 
<%
=end%>
 

<script>
function flexTextarea(el) {
  const dummy = el.querySelector('.FlexTextarea__dummy')
  el.querySelector('.push-textarea-answer').addEventListener('input', e => {
    dummy.textContent = e.target.value + '\u200b'
  })
}

document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>