<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">Answers</h1>
  </header>
  <%= search_form_for @q do |f| %>
    <strong>タイトルを検索する</strong><br>

    <%= f.search_field :title_cont %>
    

    <%= f.submit %>
  <% end %>
  <div>現在回答募集中の質問一覧です</div>
  <div class="row text-center">
    <% @questions.each do |question| %>
      <% if question.user.id != current_user.id  && question.best_answer_id == nil %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= question.title %></h4>
              <p class="card-text"><%= question.body %></p>
            </div>
            <div class="card-footer">
              <%= link_to '回答する', new_question_answer_path(question.id) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>