<header>
<!-- Navigation -->
<div class="pb-5">
  <div class="fixed-top">
    <nav class="navbar navbar-expand-md">
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to "TravelOur", "/questions", id: "logo" ,class: "a_tag" %>
        <% else %>
          <%= link_to "TravelOur", "/questions/top", id: "logo" %>
        <% end %> 

        <% if user_signed_in? %>
        <div class="text-muted form">
          <%= search_form_for @search , url: questions_path  do |f| %>
            <%= f.hidden_field(:mode, name: :mode,:value => params[:mode]) %>
            <%= f.hidden_field(:order,name: :order, :value => params[:order]) %>
            <%= f.hidden_field(:country,name: :country, :value => params[:country]) %>
            <div class="input-group form">
              <%= f.search_field :title_or_body_or_tag_name_or_country_name_cont,class: "form-control form", placeholder: "キーワードで質問を探す"%>
              <div class="input-group-append">
                <%= f.submit class: "input-group-text submit"%>
              </div>
            </div>
            
          <% end %>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
        
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to new_question_path, class: 'nav-link text-white margin-0 a_tag a_header',id: 'question_do' do%>
                <i class="far fa-comment-dots"></i>質問する!
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to questions_path, class: "nav-link text-white margin-0 a_tag a_header" do%>
                <i class="fas fa-copy"></i>質問一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to '/notifications', class: "nav-link text-white margin-0 a_tag a_header" do%>
                <i class="fas fa-bell"></i>通知
              <% end %>
            </li>

            <%= link_to current_user , class: "nav-link text-white margin-0 a_tag a_header" do%>
              <i class="fas fa-user"></i>プロフィール
            <% end %>
            <%= link_to destroy_user_session_path, :method => :delete , class: "nav-link text-white margin-0 a_tag a_header" do%>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>

            <%
=begin%>
 <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle margin-0 text-white a_tag a_header" data-toggle="dropdown" ,href="#" role="button" aria-haspopup="true" aria-expanded="false">アカウント</a>
              <div class="dropdown-menu">
                <%= link_to "プロフィール", current_user , class: "dropdown-item small"%>
                <% if current_user.email != "guest@gmail.com"%>
                  <%= link_to 'ユーザー編集', edit_user_path(current_user) , class: "dropdown-item small"%>
                <% end %>
                <%= link_to "ログアウト", destroy_user_session_path, :method => :delete , class: "dropdown-item small"%>
              </div>
            </li> 
<%
=end%>
          </ul>
        <% else %>
        <ul class="navbar-nav">
          <li class="nav-item"> 
            <%= link_to users_guest_log_in_path, method: :post,class: "nav-link text-white margin-0 a_tag a_header" do%>
              <i class="fas fa-sign-in-alt"></i>らくらくログイン
            <% end %>
          </li>
          <li class="nav-item"> 
            <%= link_to "/users/sign_in", class: "nav-link text-white margin-0 a_tag a_header" do%>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
          <li class="nav-item"> 
            <%= link_to new_user_registration_path , class: "nav-link text-white margin-0 a_tag a_header" do%> 
              <i class="fas fa-user-plus"></i>サインアップ
            <% end %>
          </li>
        </ul>
        <% end %>  
      </div>
    </nav>
    
    <div id="added-message"></div>
    <% if flash[:notice]%>
      <div class="alert alert-primary" role="alert"><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

  </div>
</div>
</header>

<!--
# <header>
# <nav>
#     <% if user_signed_in? %>
#       <strong><%= link_to current_user.username, pages_show_path %></strong>
#       <%= link_to 'プロフィール変更', edit_user_registration_path %>
#       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
#     <% else %>
#       <%= link_to 'サインアップ', new_user_registration_path %>
#       <%= link_to 'ログイン', new_user_session_path %>
#     <% end %>
# </nav>
# </header>
 
# </header>
-->