<header>
<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to "TravelOur", "/questions", id: "logo" %>
    <% else %>
      <%= link_to "TravelOur", "/questions/top", id: "logo" %>
    <% end %> 
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to '質問する！', new_question_path, class: 'nav-link text-white h6 margin-0' %>
        </li>
        <li class="nav-item">
          <%= link_to "質問一覧", "/questions", class: "nav-link text-white h6 margin-0" %>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margin-0 text-white h6 " data-toggle="dropdown" ,href="#" role="button" aria-haspopup="true" aria-expanded="false">アカウント</a>
          <div class="dropdown-menu">
            <%= link_to "プロフィール", current_user , class: "dropdown-item small"%>
            <% if current_user.email != "guest@gmail.com"%>
              <%= link_to 'ユーザー編集', edit_user_path(current_user) , class: "dropdown-item small"%>
            <% end %>
            <%= link_to "ログアウト", destroy_user_session_path, :method => :delete , class: "dropdown-item small"%>
          </div>
        </li>
      </ul>
    <% else %>
    <ul class="navbar-nav">
      <li class="nav-item"> <%= link_to "らくらくログイン", users_guest_log_in_path, method: :post,class: "nav-link h6 text-white h6 margin-0" %></li>
      <li class="nav-item"> <%= link_to "ログイン", "/users/sign_in", class: "nav-link h6 text-white h6 margin-0" %></li>
      <li class="nav-item"> <%= link_to 'サインアップ', new_user_registration_path , class: "nav-link h6 text-white h6 margin-0"%> </li>
    </ul>
    
    <% end %>  
  </div>
</nav>
</header>
<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>

<!--
# <header>
# <nav>
#     <% if user_signed_in? %>
#       <strong><%= link_to current_user.username, pages_show_path %></strong>
#       <%= link_to 'プロフィール変更', edit_user_registration_path %>
#       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
#     <% else %>
#       <%= link_to 'サインアップ', new_user_registration_path %>
#       <%= link_to 'ログイン', new_user_session_path %>
#     <% end %>
# </nav>
# </header>
 
# </header>
-->