<!DOCTYPE html>
<html>
  
  <head>
    <title>Travelour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- TODO: stylesheetが読み込まれる順番を理解する-->
    <!-- TODO: Qiita turbolinks-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/87bd2f02e6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  </head>

  <body>
    <%= render "layouts/header" %>
    
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
