<!DOCTYPE html>
<html>
  <head>
    <title>Travelour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/87bd2f02e6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if flash[:notice]%>
      <div class="alert alert-primary" role="alert"><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
